.top {
    padding: 0.5rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-top: 20px;
}

#addblog {
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    background: #c3c3c3;
    border: none;
    backdrop-filter: blur(20px);
    border-radius: 2px;
    cursor: pointer;
}


#deleteblog {
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  background: #ff9a9a;
  border: none;
  backdrop-filter: blur(20px);
  border-radius: 2px;
  cursor: pointer;
}


body[data-page="/admin/addblog"] .top {
	justify-content: center;
}

#dashboard {
	cursor: pointer;
}
