.parent{ 
	max-width: 60%;
	min-width: 60%;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	padding: 2%;
	border-radius: 20px;
}


#date{
	color: lightgray;
}

#date,#content {
	font-size: 1.5rem;
}

iframe {
    width: 100%;
    height: 0;
    overflow: hidden;
    display: block;
	border: none;
}

@media screen and (max-width : 600px){
	.parent {
		max-width: 90%;
		min-width: 90%;
	}
}
