.blogparent{
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 30px;
}

.blogcontainer {
	border-left: 1px dashed white;
	border-right: 1px dashed white;
	border-radius: 30px;
	padding: 10px 20px;
	margin-bottom: 15px;
	cursor: pointer;
}

#date,
#content {
	font-size: 10px;
	color: lightgray;
}

