<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Dashboard</title>
	<link href="/static/css/admindashboard.css" rel="stylesheet">
	<link href="/static/css/global.css" rel="stylesheet">
</head>

<body>

	{{ template "admintop" . }}

	{{range $key, $value := .allBlogs}}
		{{range $value}}
		<div class="blogparent">
			<div class="blogcontainer">
				<span id="title">{{.Title}}</span>
				<button id="edit">Edit</button>
			</div>
		</div>
		{{end}}
	{{end}}


	{{ template "particles" .}}
</body>

</html>
