<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/static/css/adminLogin.css" rel="stylesheet">
	<link href="/static/css/global.css" rel="stylesheet">
</head>

<body>
	{{template "ascii" . }}

	<form method="post" id="form" >
		<input type="text" autocomplete="username" name="username" id="username" placeholder="username" value="ypathan">
		<input type="password" name="password" id="password" placeholder="password" value="password">
		<button type="submit">Submit</button>
	</form>

	{{ template "particles" . }}
</body>

<script>


	let username;
	let password;

	document.querySelector('form').addEventListener('submit', (e) => {
		username = document.querySelector('#username').value
		password = document.querySelector('#password').value
		console.log(username)
		console.log(password)

		e.preventDefault()
		fetch("/login", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			credentials: "include",
			body: JSON.stringify({
				"username": username,
				"password": password
			})
		}).then(res => {
			if (!res.ok) {
				return res.text().then(err => {
					throw new Error(err)
				})
			}

			return res.json()
		})
			.then(data => window.location.href = '/admin/dashboard' )
			.catch(e => {
				console.error(e)
			})
	})
</script>

</html>
