<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ypathan's blog</title>
	<link href="static/css/index.css" rel="stylesheet">
	<link href="static/css/global.css" rel="stylesheet">
</head>

<body>

	{{template "ascii" .}}

	<div class="container">
		<h1>brain dumps</h1>

		{{range .allBlogs}}
		<div class="blogparent">
			<div class="blogcontainer" data-id={{.ID}} onclick="handleViewBlog(this)">
				<span id="title">{{.Title}}</span><br>
				<span id="date">{{.CreatedAt}}</span><br>
				<span id="content">{{.Content}}</span>
			</div>
		</div>
		{{end}}
	</div>


	<script src="static/scripts/index.js"> </script>
	{{template "particles" . }}
</body>

</html>
